.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 75px auto;
}

.formHeader {
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0 30px;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  color: #f5f6f7;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.formGroup input {
  width: 100%;
  border: 1px solid #fdf7f7;
  padding: 10px 12px;
  border-radius: 4px;
}

.formGroup input:focus {
  outline-color: #1ca8e0;
}

.meta {
  font-size: 14px;
  color: #f5f6f7;
  text-transform: capitalize;
  text-align: center;
}

.meta a {
  color: #0be5ec;
  text-decoration: none;
}
